services:
  backend:
    image: us-west1-docker.pkg.dev/eden-erp/eden-repo/backend:latest
    env_file: .env.production
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
    environment:
      PYTHONUNBUFFERED: 1

  frontend:
    image: us-west1-docker.pkg.dev/eden-erp/eden-repo/frontend:latest
    ports:
      - "5173:5173"
    environment:
      - PROXY_TARGET=http://backend:8000
    depends_on:
      - backend
